{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ template "favicon" . }}
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/loading-states.js"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
      [data-loading] {
        display: none;
      }
    </style>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100 outline" hx-ext="loading-states">
    <div class="flex flex-col items-center lg:p-7 rounded-2xl">
      <a href="/">
        <h1 class="text-3xl font-bold mb-4">Dunks On Demand 🏀</h1>
      </a>
      <form action="/" method="post" class="bg-white p-6 rounded-lg shadow-md pb-12 mb-20 min-w-screen sm:min-w-lg">
        {{ template "season" .ValidSeasons }}
        {{ template "games-and-players" . }}
        {{ template "error" .Error }}
        <button
          hx-post="/"
          hx-target="#error"
          hx-swap="outerHTML"
          class="w-full mt-4 bg-black text-white py-2 rounded-lg hover:bg-gray-800 cursor-pointer"
          data-loading-class-remove="cursor-pointer"
          data-loading-class="cursor-progress"
          data-loading-path="/"
          data-loading-disable
        >👉👈</button>
      </form>
    </div>

  </body>
</html>

{{ end }}

{{ block "favicon" . }}
  <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/site.webmanifest" />
{{ end }}

{{ block "season" . }}
  <div id="season-container" class="mb-10">
    <label for="season" class="block text-gray-700 text-sm font-bold mb-2">Season</label>
    <select
      id="season"
      name="season"
      type="select"
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-2"
      hx-post="/season"
      hx-target="#games-and-players-container"
    >
      {{ range . }}
      <option value="{{ . }}">{{ . }}</option>
      {{ end }}
    </select>
  </div>
{{ end }}

{{ block "games-and-players" . }}
  <div id="games-and-players-container">
    {{ template "games" .GameData }}
    {{ template "players" .PlayerData }}
  </div>
{{ end }}

{{ block "games" . }}
  <div id="games-container" class="mb-10">
    <label for="game-search" class="block text-gray-700 text-sm font-bold mb-2">Game</label>
    <input
      name="game-search"
      id="game-search"
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
      type="text"
      hx-trigger="keyup changed delay:200ms, change changed delay:200ms"
      hx-post="/game-search"
      hx-swap="outerHTML"
      hx-target="#game-options"
    />
    {{ template "game-options" . }}
  </div>
{{ end }}

{{ block "game-options" . }}
  <div id="game-options" class="h-40 overflow-y-scroll bg-gray-100 p-2 rounded-lg">
    {{ range .Selected }}
        <label class="block text-nowrap">
          <input type="checkbox" name="game" value="{{ .ID }}" checked> {{ .ToString }}
        </label>
    {{ end }}
    {{ range .NotSelected }}
      <label class="block text-nowrap">
        <input type="checkbox" name="game" value="{{ .ID }}" > {{ .ToString }}
      </label>
    {{ end }}
  </div>
{{ end }}

{{ block "players" . }}
  <div id="players-container" class="mb-10">
    <label for="players" class="block text-gray-700 text-sm font-bold mb-2">Players</label>
    <input
      name="player-search"
      id="player-search"
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
      type="text"
      hx-trigger="keyup changed delay:200ms, change changed delay:200ms"
      hx-post="/player-search"
      hx-swap="outerHTML"
      hx-target="#player-options"
    />
    {{ template "player-options" . }}
  </div>
{{ end }}

{{ block "player-options" . }}
  <div id="player-options" name="players" class="h-40 overflow-y-scroll bg-gray-100 p-2 rounded-lg">
    {{ range .Selected }}
        <label class="block text-nowrap">
          <input type="checkbox" name="player" value="{{ printf "%d" .PlayerID }}" checked > {{ .PlayerName }} - {{ .TeamAbbreviations }}
        </label>
    {{ end}}
    {{ range .NotSelected }}
      <label class="block text-nowrap">
        <input type="checkbox" name="player" value="{{ printf "%d" .PlayerID }}" > {{ .PlayerName }} - {{ .TeamAbbreviations }}
      </label>
    {{ end}}
  </div>
{{ end }}

{{ block "error" . }}
  <div id="error" class="text-center text-red-600">
      {{ . }}
  </div>
{{ end }}
